<div class="col mx-auto">
    <div class="card shadow p-1 m-1">
        <div class="row g-0">
            <div class="col-4 px-1" style="display: flex; justify-content: center;">
                <% if (member.image) { %>
                    <img src="<%=member.image%>" class="card-img-top mx-auto my-auto" alt="<%= member.name %>">
                    <% } %>
            </div>
            <div class="col-8">
                <div class="card-body p-4">
                    <h5 class="card-title display-6">
                        <%= member.name %>
                    </h5>
                    <p class="card-text ">
                        <%= member.description %>.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>