<div class="col" style="width: 34rem; margin-left: auto; margin-right: auto; ">
    <div class="card shadow" style="width: 32rem; padding: 1rem; margin: 1rem;">
        <div class="row g-0" style="width: 30rem;">
            <div class="col-md-4" style="width: 10rem;">
                <% if (member.image) { %>
                    <img src="<%=member.image%>"
                        style="max-width: 10rem; height: auto; width: auto; margin-left: auto; margin-right: auto; "
                        class="card-img-top" alt="<%= member.name %>">
                    <% } %>
            </div>
            <div class="col-md-8" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= member.name %>
                    </h5>
                    <p class="card-text">
                        <%= member.description %>.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>